<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/header :: header}">
  <meta charset="UTF-8" />
  <title>Log In</title>
</head>
<body>
<nav th:replace="~{partials/navbar :: navbar}"></nav>
<div class="container">
  <h1>Log In</h1>
  <div th:if="${param.error}" class="alert alert-danger">
    Invalid Username and Password.
  </div>
  <div th:if="${param.logout}" class="alert alert-success">
    You have been logged out.
  </div>

  <form th:action="@{/login}" method="post" class="row g-3">
    <div class="col-md-6">
      <label for="username" class="form-label">Username</label>
      <input id="username" name="username" type="text" class="form-control" />
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input id="password" name="password" type="password" class="form-control" />
    </div>
    <div class="col-12">
      <input type="submit" value="Log In" class="btn btn-primary" />
    </div>
  </form>
</div>
</body>
</html>
